<?xml version="1.0" encoding="UTF-8"?>

<suite name="Test Suite Room Manager Application">
	<listeners>
	      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
	      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
	</listeners>
	
   <test name="Tests Add and Remove Location, Add Respurce">
    <classes>
      <class name="org.roommanagerfw.test.admin.enabledImpersonation" />
      <class name="org.roommanagerfw.test.admin.disabledImpersonation" />   
    </classes>
  </test>
</suite>    
